[tool.poetry]
name = "gerrydb"
version = "0.1.0"
description = "Client library for GerryDB."
authors = ["Parker J. Rule <parker.rule@tufts.edu>"]

[tool.poetry.dependencies]
python = "^3.9"
tomlkit = "^0.13.0"
msgpack = "^1.1.0"
httpx = "^0.27.2"
pydantic = "^1.10.4"
orjson = "^3.10.0"
shapely = "^2.0.1"
python-dateutil = "^2.8.2"
geopandas = "^1.0.1"
networkx = "^3.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
black = "^24.8.0"
pytest-vcr = "^1.0.2"

[tool.pytest.ini_options]
markers = [
    "vcr: mark a test as a vcr test",
]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
